.board {
  width: 500px;
  height: 430px;
}
.tale {
  width: 50px;
  height: 50px;
  margin: 3px;
}

.one {
  background: #001f3f;
}

.two {
  background: #FF4136;
}

.empty {
  background: white;
}

.one, .two, .empty{
  position: relative;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 5px rgba(0,0,0,0.75);
  border-radius: 50%;
  /*position: relative;*/
}

.cell {
  float: left;
  width: 14%;
  float: left;
  background: #3D9970;
  z-index: -1;
  border: 1px black dotted;
}