<h1>Play Connect Four</h1>

<div class="board">
  <div ng-repeat="y in settings.ranges()[0]">
    <div ng-repeat="x in settings.ranges()[1]">
      <div class="cell">
        <div class="tale {{ settings.board[x-1][y-1] }}"
              ng-class="{'animated bounceInDown': settings.board[x-1][y-1],
                          'empty': !settings.board[x-1][y-1]}"
              ng-click="game.fill(x, game.player());
                        game.checkWin()">
          <!-- {{ x }} - {{ y }} : {{ settings.board[x-1][y-1] }} -->
              </div>
      </div>
    </div>
  </div>
</div>
<!--
ng-class="{'won': checkWin(),
           'empty': !gameOver()}"
 -->
            <!-- ng-class="'empty': emptyCell(),
                      'player1: player1(),
                      'player2: player2()" -->